@model List<noon.DTO.RoleVM.UserInRoleVM>

@{
    ViewData["Title"] = "Add Or Remove Users";
    var RoleId = ViewBag.RoleId;
}


<form method="post" class="form-group">

    <div class="card-header">
        <h2>Add Or Remove User In Role</h2>
    </div>


    @for (int i = 0; i < Model.Count; i++)
    {

        <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
        <label asp-for="@Model[i].IsSelected">@Model[i].Email</label>
        <br />
        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].Email" />

    }

    <div class="card-footer">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>

</form>

<a asp-controller="Roles" asp-action="index" class="btn btn-info ">Cancle</a>



@*@section BootstrapSelect{
    <link href="~/Layout/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Layout/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
}


<br />
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Add Or Remove Users In Role</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                      <form method="post" class="form-group">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-center font-weight-bold">
                            <thead>
                                <tr>
                                    
                                    <th>Email</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        
                                        <td>
                                                <input type="hidden" asp-for="@Model[i].UserId" />
                                                <input type="hidden" asp-for="@Model[i].Email" />
                                            <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
                                            <label asp-for="@Model[i].IsSelected">@Model[i].Email</label>
                                        </td>
                                        
                                    </tr>
                                }

                            </tbody>
                        </table>
                            <input type="submit" value="Edit" class="btn btn-primary"/>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<a asp-controller="Roles" asp-action="index" class="btn btn-info ">Cancle</a>


@section DataTableScripts{

    <script src="~/Layout/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>


    <script src="~/Layout/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/Layout/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>



    <script>
        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                bLengthChange: false,
                //bInfo: false,
                lengthMenu: [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],

            });



            var table = $('.js-basic-example').DataTable();

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    'copy', 'excel', 'pdf', 'csv', 'print'
                ]
            });

            table.buttons().container()
                .appendTo($('.col-sm-6:eq(0)', table.table().container()));


        });

    </script>
}
*@