@model List<noon.DTO.RoleVM.UserInRoleVM>

@{
    ViewData["Title"] = "Add Or Remove Users";
    var RoleId = ViewBag.RoleId;
}


<form method="post" class="form-group">

    <div class="card-header">
        <h2>Add Or Remove User In Role</h2>
    </div>


    @for (int i = 0; i < Model.Count; i++)
    {

        <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
        <label asp-for="@Model[i].IsSelected">@Model[i].Email</label>

        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].Email" />

    }

    <div class="card-footer">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>

</form>

<a asp-controller="Roles" asp-action="index" class="btn btn-info ">Cancle</a>

